.navbar {
  padding: 12px 20px;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;             /* place les <li> en ligne */
  list-style: none;
  gap: 20px;                 /* espace entre les liens */
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: maroon;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: white;            /* couleur au survol */
}
